@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO MY NEW SALOON</h1>

    <img src="~/kes.jpg" height="550" width="1100" />
    <p>
        <h1>What is a Salon Mission Statement?</h1>
        A salon mission statement is a short summary of why a salon exists, what the goal of the salon is and how this goal is achieved. A good salon mission statement should capture the unique essence of why your salon exists.

        It’s a key component of your salon’s business plan and guides all the decisions you’ll be making for your salon business.

        Salon Vision Statement vs. Salon Mission Statement
        A salon mission statement defines the salon’s objectives and its approach to reach those objectives. A salon vision statement describes the desired future position of the salon. The salon vision statement and mission statement are often combined to describe the salon purpose and values.
    </p>
</div>
