@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img src="~/kessss.jpg" height="550" width="1100"/>
<p>
   <h1>Where A Touch of Beauty stores Customers’ personal data?</h1>

    The data that A Touch of Beauty collects from Customers may be transferred to, and stored at, a destination outside
    Australia. It may also be processed by staff operating outside Australia who work for A Touch of Beauty or for one of 
    A Touch of Beauty’s suppliers. Such staff may be engaged in, among other things, the fulfilment of Customers’ orders, 
    the processing of Customers’ payment details and the provision of support services. By submitting Customers’ personal data, 
    Customers agree to this transfer, storing or processing. A Touch of Beauty will take all steps reasonably necessary to ensure
    that Customers’ data is treated securely and in accordance with this privacy policy.
</p>
